
$body-font-family: Comic Sans MS, serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;

$pinki:#ee0505;
$overflow-focused-active-slot-box-shadow: 0 5px 25px 0 rgba(255,25,96,45);
